<article style="page-break-inside: avoid">
    <h2>Equidistant Axial Slices</h2>
    <section>
        <table style="width: 100%">
            <tr>
                <td />
                {% for val in equidistant_slice_check %}
                    <td>{{ val.0 }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td style="width: 1cm"><div class="rotate90">Body Regions</div></td>
                {% for val in equidistant_slice_check %}
                    <td><img style="width: 3cm" src="{{ val.1 }}"/></td>
                {% endfor %}
            </tr>
            <tr>
                <td style="width: 1cm"><div class="rotate90">Tissues</div></td>
                {% for val in equidistant_slice_check %}
                    <td><img style="width: 3cm" src="{{ val.2 }}"/></td>
                {% endfor %}
            </tr>
            {% if equidistant_slice_check.0|length > 3 %}
                <tr>
                    <td style="width: 1cm"><div class="rotate90">Total Segmentator</div></td>
                    {% for val in equidistant_slice_check %}
                        <td><img style="width: 3cm" src="{{ val.3 }}"/></td>
                    {% endfor %}
                </tr>
            {% endif %}
        </table>
    </section>
</article>
