name: Upload to PyPi

on:
  release:
    types: [published]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.9
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"
      - name: Install poetry
        run: |
          python -m pip install -U pip
          pip install poetry==1.6.1
      - name: Publish package
        run: poetry publish --build --username __token__ --password ${{ secrets.PYPI_TOKEN }}
